

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#slider input {
	width: 100%;
}

.beat-bar {
	height: 25px;
	background: red;
	text-align: center;
	border: 1px solid grey;
	margin: 5px 0;
}

.OFF {
	width: 15px;
	height: 15px;
	background: red;
	border: 2px;
}

.ON {
	width: 15px;
	height: 15px;
	background: blue;
	border: 2px;
}

.beat {
	float: left;
	margin: 0 5px;
}

.measure {
	border: solid 1px grey;
	padding: 5px 0;
	display: inline-block;
}

.measure .title {
	clear: both;
	display: block;
	text-align: center;
	margin: 0 0 5px 0;
}

.measure .title .delete {
	color: red;
}

.addMeasure {
	color: green;
	display: inline-block;
	vertical-align: bottom;
	padding: 0 5px;
	font-size: 30px;
}


