<!-- <h4 style="text-align:center;">Measure Representation</h4> -->
<div id="measure-representation-buttons" class="btn-group" >
  <button class="btn" data-state="audio">
    <div>Light</div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg">
      <circle cx="60" cy="17" r="12" stroke="black" stroke-width="1" fill="#80ff00" opacity="1"></circle>
    </svg>
  </button>
  <button type="button" class="btn" data-state="circular-bead">Bead
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg">
      <circle cx="30" cy="17" r="12" stroke="black" stroke-width="1" fill="none" opacity="1"></circle>
      <circle cx="30" cy="5.5" r="3" stroke="black" stroke-width="1" fill="#FF0000" opacity="1"></circle>
      <circle cx="38.5" cy="24.5" r="3" stroke="black" stroke-width="1" fill="#00FF00" opacity="1"></circle>
      <circle cx="21.5" cy="24.5" r="3" stroke="black" stroke-width="1" fill="#0000FF" opacity="1"></circle>
    </svg>
  </button>
  <button type="button" class="btn" data-state="number-line">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <line x1="22" y1="17" x2="98" y2="17" stroke="black" stroke-width="1px" opacity="1"></line>
      <circle cx="22" cy="17" r="3" stroke="black" stroke-width="1" fill="#FF0000" opacity="1"></circle>
      <circle cx="47" cy="17" r="3" stroke="black" stroke-width="1" fill="#00FF00" opacity="1"></circle>
      <circle cx="73" cy="17" r="3" stroke="black" stroke-width="1" fill="#0000FF" opacity="1"></circle>
    </svg>
  </button>
  <button type="button" class="btn" data-state="circular-pie">Pie
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="30" cy="17" r="12" stroke="black" stroke-width="1" fill="none" opacity="1"></circle>
      <path d="M30,17 L30,5 A12,12 0 0,1 38.5,24.5 z" fill="#FF0000" stroke="black" stroke-width="1" opacity="1"></path>
      <path d="M30,17 L38.5,24.5 A12,12 0 0,1 21.5,24.5 z" fill="#00FF00" stroke="black" stroke-width="1" opacity="1"></path>
      <path d="M30,17 L21.5,24.5 A12,12 0 0,1 30,5 z" fill="#0000FF" stroke="black" stroke-width="1" opacity="1"></path>
    </svg>
  </button>
  <button type="button" class="btn" data-state="linear-bar">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <rect x="22" y="10" width="75" height="15" stroke="black" stroke-width="1" fill="none" opacity="1"></rect>
      <rect x="22" y="10" width="25" height="15" stroke="black" stroke-width="1" fill="#FF0000" opacity="1"></rect>
      <rect x="47" y="10" width="25" height="15" stroke="black" stroke-width="1" fill="#00FF00" opacity="1"></rect>
      <rect x="73" y="10" width="25" height="15" stroke="black" stroke-width="1" fill="#0000FF" opacity="1"></rect>
    </svg>
  </button>
</div>
