<h4 style="text-align:center;">Measure Representation</h4>
<div id="measure-representation-buttons" class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn" data-state="audio">Audio</button>
<!--   <button type="button" class="btn" data-state="linear-bar">-</button> -->
  <button type="button" class="btn" data-state="linear-bar-svg">Bar</button>
  <button type="button" class="btn" data-state="circular-pie">Pie</button>
  <button type="button" class="btn active" data-state="circular-bead">Bead</button>
  <button type="button" class="btn" data-state="number-line">Line</button>
</div>