<form id="new-song" name="song">
  <div class="field">
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>
  <div class="actions">
    <input type="submit" value="Create Song" />
  </div>

  <div class="field">
    <!-- <label for="content"> content:</label> -->
    <input type="hidden" name="content" id="content" value="<%= content %>" >
    <input type="hidden" name="content" id="user" value="<%= user %>" >
  </div>
</form>

<!-- <a href="#/index">Back</a> -->

<!-- <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Save</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <li>            
    <form id="new-song" name="song" class="navbar-form">
      <input type="text" name="title" id="title" value="<%= title %>" >
      <input type="hidden" name="content" id="content" value="<%= content %>" >
    </form>
  </li>
    <div>
      <div style="float: left">
        <input class="btn" type="submit" value="Save" />
 -->
         <!-- <button class="btn">Save</button> -->
<!--       </div>
      <div style="float: right">
        <button class="btn">Cancel</button>
      </div>
    </div>
  </li>
</ul> -->