<li class="dropdown">
  <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Load</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>placeholder Song 1</li>
    <li>placeholder Song 2</li>
    <li>placeholder Song 3</li>
  </ul>
</li>
<li class="dropdown">
  <div id="songs">
  </div>
</li>
