<li class="">
  <div id="nav-songs-load">
  </div>
</li>
<li class="">
  <div id="nav-songs-new">
  </div>
</li>
<li class="">
  <div id="nav-songs-info">
  </div>
</li>
<li class="">
  <div id="nav-songs-update">
  </div>
</li>