<path id="beat<%= beat.cid %>" class="beat" d="M<%= circularMeasureCx %>,<%= circularMeasureCy %> L<%= x1 %>,<%= y1 %> A<%= circularMeasureR %>,<%= circularMeasureR %> 0 0,1 <%= x2 %>,<%= y2 %> z" style="fill:<%= color %>; stroke:black; stroke-width: 1" opacity="<%= opacity %>">
  <animateTransform attributeName="transform" type="scale" begin="indefinite" dur="" values="1,1;1.1,1.1;1,1;" />
  <!-- <animateTransform attributeName="transform" type="scale" dur=".5s" values=".5;1.1;1" repeatCount="indefinite"/> -->
</path>