<div id="measure-rep<%= measureRep.cid %>" class="measureRep measure-audio pull-left">
  <!-- <span class="title">Audio Representation Measure <span class="number"><%= measureCount %></span> -->
  <div class="delta pull-left" id="delta-<%= measureRep.cid %>" >&Delta;</div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="audio">
    <circle cx="<%= audioMeasureCx %>" cy="<%= audioMeasureCy %>" r="<%= audioMeasureR %>" stroke="black" stroke-width="1" fill="<%= colorForAudio %>"  opacity="0.25"></circle>
    <g id="<%= beatHolder %>">
    </g>
    <circle cx="<%= audioMeasureCx%>" cy="<%= audioMeasureCy %>" r="<%= audioMeasureR + 2%>" fill="white"  opacity="0.1"></circle>
  </svg> 
  <div class="pause"><i id="record-<%= measureRep.cid %>" class="record-button icon-hand-down icon-2x"></i></div>
</div>