<div id="measure<%= measure.cid %>" class="measure resizable measure-pie">
  <!-- <span class="title">Measure <span class="number"><%= measureCount %></span> -->
  <div class="delta pull-left" id="delta-<%= measure.cid %>" >&Delta;</div>
  <div class="pause pull-right remove-measure-btn"><i class="icon-minus"></i></div>
  <% if(measureCount == 1) { %>
  <% } else { %>
   - <span class="delete">[X]</span>
  <% } %>
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="circular-pie">
    <circle cx="<%= circularMeasureCx %>" cy="<%= circularMeasureCy %>" r="<%= circularMeasureR %>" stroke="black" stroke-width="2" fill="<%= measureColor %>" />
    <g id="<%= beatHolder %>">
    </g>
  </svg> 
</div>