<div id="measure<%= mCID %>" class="measure measure-bead">
  <!-- <div class="btn a unroll" id="a<%= measure.cid %>">Unroll</div> -->
  <!-- <div class="btn b rollup" id="b<%= measure.cid %>">Rollup</div> -->
  <!-- <span class="title">Measure <span class="number"><%= measureCount %></span> -->
  <div class="btn pause pull-right remove-measure-btn"><i class="icon-minus-sign"></i></div>
  <% if(measureCount == 1) { %>
  <% } else { %>
   - <span class="delete">[X]</span>
  <% } %>
  </span>
  <svg id="svg<%= measure.cid %>" xmlns="http://www.w3.org/2000/svg" version="1.1" class="circular-pie">
    <!-- <path d="<%= pathFunction %>" /> -->
    <!-- <circle cx="<%= cx %>" cy="<%= cy %>" r="<%= measureR %>" stroke="black" stroke-dasharray="1,3" stroke-width="1" fill="none" /> -->
    <g id="<%= beatHolder %>">
    </g>
    <g id="<%= beatFactoryHolder %>">
    </g>
  </svg>
  <div class="btn pull-right resize-measure-pull"><i class="icon-resize-horizontal"></i></div>
  <i class="pull-right resize-measure-pull icon-resize-horizontal icon-2x"></i> 
</div>

