<div id="measure<%= measure.cid %>" class="measure measure-pie">
  <!-- <span class="title">Measure <span class="number"><%= measureCount %></span> -->
  <div class="btn pull-right remove-measure-btn visHidden"><i class="icon-remove"></i></div>
  <% if(measureCount == 1) { %>
  <% } else { %>
   - <span class="delete">[X]</span>
  <% } %>
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="circular-pie">
    <circle cx="<%= cx %>" cy="<%= cy %>" r="<%= measureR %>" stroke="black" stroke-width="2" fill="<%= measureColor %>" />
    <g id="<%= beatHolder %>">
    </g>
  </svg> 
  <div class="btn pull-right resize-measure-pull visHidden"><i class="icon-resize-horizontal"></i></div>
  <i class="pull-right resize-measure-pull visHidden icon-resize-horizontal icon-2x"></i>
</div>