<div id="measure<%= measure.cid %>" class="measure resizable-h measure-number">
  <!-- <span class="title">SVG Bar Measure <span class="number"><%= measureCount %></span> -->
  <div class="btn pause pull-right remove-measure-btn visHidden"><i class="icon-remove"></i></div>
  <% if(measureCount == 1) { %>
  <% } else { %>
   - <span class="delete">[X]</span>
  <% } %>
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="linear-bar">
    <line x1="<%= xMeasureLocation + xOffset %>" y1="<%= yMeasureLocation + yOffset %>" x2="<%= xMeasureLocation + measureWidth - xOffset %>" y2="<%= yMeasureLocation + yOffset %>" style="stroke:black; stroke-width:2;" />
    <g id="<%= beatHolder %>">
    </g>
  </svg> 
</div>