/*Trying to figure out the resizing issue with deleteing reps after transitions*/
.measureRep{
  min-height: 1px;
  min-width: 1px;
}
/*.measureRep-line{
  height: 200px;
  width: 200px;
  background-color: orange;
}
.measureRep{
  height: 200px;
  width: 200px;
  background-color: blue;
}
.measureRep-bead svg{
  height: 200px;
  width: 200px;
  background-color: red;
}
.measureRep-line svg{
  height: 200px;
  width: 200px;
  background-color: red;
}
*/

.ui-draggable{
  z-index: 1; 
}
#brand-logo {
  height: 50px;
  margin-right: 10px;
}
.new-instrument-btn{
  margin-left: 10px;
  margin-right: 10px;
}
.nav.navbar-nav.pull-right{
  margin-top: 8px;
}
.show-grid{
  margin-bottom:15px
}
.lineRolling {
  fill: none;
}
*//*for development only
.navbar .nav > li > a {
  float: left!important;
}
.record-button:hover {
  color: green;
  font-weight: bold;
}
.measure .measureRep:first-of-type .remove-measure-rep{
  visibility: hidden;
}
.measure .measureRep.measureRep-audio:not(:first-of-type) .record-button{
  display: none;
}
.hTrack .measure-container .measure:first-of-type .remove-measure{
  display: none;
}
.cs i{
  color: green;
}
.hover-green{
  color: green;
}
.delta.btn{
  border: none;
  background: none;
  box-shadow: none;
}
.measure .measureRep.measureRep-audio .delta{
  visibility: hidden;
}
/*Until we get multiple measures
/*Thanks to sammy for this idea*/
/*.hTrack .measure-container .measure:first-of-type .add-measure{*/
.add-measure {
  display: none;
}
.add-measure {
  color: gray;
}
.add-measure:hover {
  color: green;
}
.remove-measure {
  color: gray;
}
.remove-measure:hover {
  color: red;
}
.measureRep {
  height: 200px;
  border: solid 1px grey;
  border-radius: 3px;
  display: inline-block;
  margin: 0px 5px 5px 0px;
  overflow: hidden;
}
.measure-rep-container {
  width: 99%;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
}
.measure-container {
  width: 89%;
  /*overflow: auto;*/
}
.well {
  padding: 5px;
}
.delta {
  color: gray;
  padding: 3px;
  font-size: 17px;
}
.delta:hover {
  stroke: green;
  font-color: green;
  color: green;
  font-weight: bold;
}
.transition-rep {
  color: green;
  font-weight: bold;
}
.change-instrument {
  width: 135px;  
}
/*For the top row*/
.representation[data-state="line"] svg {
  margin-left: -100px;
}
.representation[data-state="pie"] svg {
  margin-left: 15px;
}
.representation[data-state="bead"] svg {
  margin-left: 10px;
}
.representation[data-state="audio"] svg {
  margin-left: 5px;
}

.resize-measure-pull{
  /*visibility: hidden; 
  /*position: relative;
  /*top: -40px;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.remove-measure-rep:hover {
  color: red;
}
.remove-measure-rep {
  color: grey;
  margin-right: 3px;
  padding: 3px;
}
#measure-representation-buttons button {
  font-size: 10px;
  /*padding-left: 5px;*/
}
#system-label-group {
  padding: 5px;
}
.stamp {
  padding: 1px  3px;
}
.stamped {
  padding: 1px  3px;
}
.hTrack.well { 
  padding: 10px;
  margin-bottom: 10px;
  min-height: 164px;
}
.delete-instrument {
  margin: 5px;
  width: 11px;
  color: grey;
}
.delete-instrument:hover {
  color: red;
  cursor: pointer;
}
.light-hr {
  border-top: 1px solid lightgray;
  margin: 10px 0px;
}

select {
  width: 85px;
}

.unused-instruments-selector {
  font-size: 10px;
  width: 125px;
}

/*This prevents the highlighting color when a user clicks fast, the user still is selecting something, but it is not actually showing*/
* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#remaining-instrument-generator{
  padding: 5px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3
}
.btn-group {
  display: block;
}

#sof-stage-area {
  max-height: 770px;
  overflow: auto;
}

.circle-path {
  stroke-width: 2;
  fill:none;
}

.mixed-number-fraction {
  display: inline-block;
}

  /*hr {
    border-top: 1px solid rgb(0, 0, 0)!important;
  }
*/
.navbar .nav p {
  margin: 1em 0 10px;
  max-height: 30px;
}

.navbar .nav > li > a {
  padding: 2px 10px;
}

#nav-user-label{
  padding-top: 10px;
}

#new-song {
  padding-top:5px;
}

#create-new-song {
  margin-bottom: 8px;
}

.navbar-inner {
  max-height: 30px;
}
svg.audio {
  height: 124px;
  width: 100px;
}
/*svg.bar {
  height: 150px;
}
svg.pie {
  height: 150px;
}
svg.bead {
  height: 172px;
}
svg.line {
  height: 150px;
  position: relative;
}
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.login li {
  color: white;
  font-size: 20px;
  padding: 0px 5px 0px;
}
.login li a{
  margin: 0px 0px 0px;
}
#bpm-slider input {
	width: 100%;
}

#tempo-slider input {
  width: 100%;
}

.measure {
  /*until we get multiple measures*/
	/*border: solid 1px grey;*/
  border-radius: 3px;
	padding: 0 5px 5px 5px;
	display: inline-block;
  margin-bottom: 5px;
  width: 99%;
  display: inline-block;
}
.resizable-h {
  resize: horizontal;
  /*overflow: auto;*/
}
.resizable {
  /*resize: both;*/
  /*overflow: auto;*/
}
.measure .title {
	clear: both;
	display: block;
	text-align: center;
}

.measure .title .delete {
	color: red;
  cursor: pointer;
}

.measure .title .delete:hover {
  cursor: pointer;
  font-weight: bold;
}

.addMeasureRep {
  color: grey;
	display: inline-block;
	vertical-align: bottom;
	padding: 0 5px;
	font-size: 30px;
  cursor: pointer;
}

.addMeasureRep:hover {
  color: green;
}

.hTrack-image {
  width: 70px;
  float: left;
  margin: 10px;
  border: 1px solid black;
}
.hTrack-container {
  position: relative;
  /*min-height: 150px;*/
}

.hTrack-container .count {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 50px;
  height: 50px;
  width: 7%;
  text-align: center;
}

.hTrack-container .count .numerator {
  display: block;
  margin: 15px auto 15px auto;
  border-bottom: 4px solid;
  padding-bottom: 12px;
}

.hTrack-container .count .mixedNumerator {
  display: block;
  margin: 15px auto 15px auto;
  border-bottom: 4px solid;
  padding-bottom: 12px;
}

.hTrack-container .count .whole {
  display: block;
  margin: 15px auto 25px auto;
  font-size: 80px;
  margin-bottom: 12px;
}

.hTrack-container .count .denominator {
}

.hTrack-container .count .percent, .hTrack-container .count .decimal {
  margin-top: 65%;
  display: block;
  margin-left: -25px;
  font-size: 40px;
}
.control {
  position: relative;
  top: 20px;
  font-size: 45px;
  font-weight: bold;
  /*left: 85px;*/
  cursor: pointer;
}
.unmute {
  color: rgba(5, 5, 5, .25);
}

.unmute:hover {
  color: red;
  opacity: .75;
}

.mute {
  color: red;
  /*border: 2px solid red;*/
  /*padding: 11px 3px;*/
  /*top: 79px;*/
  /*left: 47px;*/
}

.mute:hover {
  color: rgba(5, 5, 5, 0.5);
  /*border: 2px solid rgba(5, 5, 5, 0.5);*/
}

.animated-beat {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 0 solid black;
}

#conductor {
  text-align: center;
  /*background-color: whitesmoke;*/
  /*border: 1px solid #e3e3e3*/
  /*padding-bottom: 15px;*/
  /*margin: 0 auto;*/
  cursor: pointer;
}

#visual-beats {
  height: 155px;
}

.selected {
  background-color: orange;
}

#fraction-representation {
  margin: 0 auto 10px auto;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3
}

#fraction-representation button {
  width: 20%;
}


#system-label-container {
  /*margin: 0px auto 10px auto;*/
  text-align: center;
  /*width: 100%;*/
  background-color: whitesmoke;
  border: 1px solid #e3e3e3
}

#top-row button svg {
  height: 30px;
}

#top-row button{
  padding: 0px 0px 0px 5px ;
  margin: 0px;
}

#measure-transformation {
  /*float: right;*/
  /*margin: 0 auto 10px auto;*/
  text-align: center;
  /*width: 55%;*/
  background-color: whitesmoke;
  border: 1px solid #e3e3e3
}
#measure-transformation button {
  width: 20%;
}
#fraction-representation-buttons {
  width: 100%;
}

#measure-representation button {
  width: 20%;
}

#tap-tempo-container {
  padding-top: 20px;
}

/* ==========================================================================
   Custom button
   ========================================================================== */
.dbtn {
    display: inline-block;
    padding: 1px 3px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #e6e6e6;
    background-image: none;    
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);    
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
    box-shadow: none;
}


