<h1>RAILS Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>GO TO Songs index page <%= link_to "here", songs_path %>.</p>
<p>GO TO Songs new page <%= link_to "here", songs_path + '#/new' %>.</p>
