<h1>Settings</h1>

<div class="row">
  <div class="span3">
    <%= form_for(@setting) do |f| %>

      <%= f.label :mic_level %>
      <%= f.range_field :mic_level, min: 0, max: 2.0, default: 1.0, step: 0.01 %>

      <%= f.submit "Update Settings", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
