<!-- Index.html.erb -->
<div id="top-row" class="row-fluid">
  <div id="conductor" class="play span1"></div>
  <!-- Range from 5 to 11 -->
  <div id="measure-representation" class="span6 offset1"></div>
  <div id="system-label-container" class="span3 offset1"></div>
  <!-- <div id="measure-transformation" class="span6"></div> -->
</div>
<hr class="light-hr">
<div id="middle-row" class="row-fluid">
  <div id="middle-left-column" class="span12">
    <div id="show-song">
    </div>
    <div id="sof-stage-area">
      <div id="sample-messages"></div>
    </div>
    <div id="instrument-generator-holder" class="span5">
    </div>
  </div>

<!--   <div id="middle-right-column" class="span2">
  </div>

 -->
</div>

<div id="bottom-row" class="row-fluid">
</div>

<hr>
<!-- END Index.html.erb -->