<div id="top-row" class="row-fluid">
  <div id="measure-representation" class="pull-left"></div>
</div>

<div id="middle-row" class="row-fluid">
  <div class="span9">
    <div id="show-song">
    </div>
    <div id="sof-composer">
    </div>
  </div>

  <div id="right-column" class="span3">
    <div class="row-fluid">
      <div id="doall-container" class="span1">
        <button class="btn" id="doall" data-toggle="button">DOALL</button>
      </div>
      <div id="tap-tempo-container" class="span1 offset2">
        <button class="btn" id="tap-tempo" data-toggle="button">TAP TEMPO</button>
      </div>
    </div>
    <div class="row-fluid">
      <div id="transport" class="span4 offset4 play"></div>
    </div>
    <!-- <div id="fraction-representation"></div> -->
    <!-- <div id="tempo-slider"></div> -->
    <div class="row-fluid">
      <div id="system-label"></div>
    </div>
    <div class="row-fluid">
      <div id="record" class="span1 offset2 record"></div>
    </div>
<!--<div id="beat-palette" class="well">
      <h3 style="text-align:center;">SOF Palette</h3>
      <hr>  
      <div id="bpm-slider">
        temp holder until a component is selected
        <p style="color:lightgray">Select an Instrument to adjust the number of beats</p>
        <p style="color:gray">&nbsp;</p>
      </div>
      <hr>
      <div id="visual-beats"></div>
    </div> -->
  </div>
</div>

<div id="bottom-row" class="row-fluid">
</div>

<hr>
