<div id="top-row" class="row-fluid">
  <div id="transport" class="play"></div>
  <div id="measure-representation" class="span10"></div>
  <!-- <div id="measure-transformation" class="span6"></div> -->
</div>
<hr class="light-hr">
<div id="middle-row" class="row-fluid">
  <div id="middle-left-column" class="span12">
    <div id="show-song">
    </div>
    <div id="sof-composition-area">
    </div>
    <div id="instrument-generator-holder" class="span5">
    </div>
  </div>

  <div id="middle-right-column" class="">
    <div class="row-fluid">
    </div>
    <!-- <div id="fraction-representation"></div> -->
    <!-- <div id="tempo-slider"></div> -->
    <div class="row-fluid">
      <!-- <div id="system-label-container"></div> -->
    </div>
<!--<div id="beat-palette" class="well">
      <h3 style="text-align:center;">SOF Palette</h3>
      <hr>  
      <div id="bpm-slider">
        temp holder until a hTrack is selected
        <p style="color:lightgray">Select an Instrument to adjust the number of beats</p>
        <p style="color:gray">&nbsp;</p>
      </div>
      <hr>
      <div id="visual-beats"></div>
    </div> -->
  </div>
</div>

<div id="bottom-row" class="row-fluid">
</div>

<hr>
