<div class="span9">
  <div id="show-song">
  </div>
  <div id="sof-composer">
  </div>
  

  <!--Body content-->
</div>
<div class="span3">
  <div id="beat-palette" class="well">
    <h3 style="text-align:center;">SOF Palette</h3>
    <hr>
    <h4 style="text-align:center;">Fraction Representation</h4>
    <div id="fraction-representation"></div>
    <h4 style="text-align:center;">Measure Representation</h4>
    <div id="measure-representation"></div>
    <div id="tempo-slider"></div>
    <div id="bpm-slider" >
      <!-- temp holder until a component is selected -->
      <p style="color:lightgray">Select an Instrument to adjust the number of beats</p>
      <p style="color:gray">&nbsp;</p>
      <hr>
    </div>
    <!-- <div id="visual-beats"></div> -->
  </div>
  <div id="transport" class="play"></div>
  <div id="record"></div>
</div>

<hr>