<div class="span9">
  <div id="song-bucket">
  </div>
  <div id="drum-kit">
  </div>
  

  <!--Body content-->
</div>
<div class="span3">
  <div id="beat-pallet" class="well">
    <h3 style="text-align:center;">Beat Pallet</h3>
    <div id="rep-button"></div>
    <div id="tempo-slider"></div>
    <div id="slider"></div>
    <div id="visual-beats"></div>
  </div>
  <div id="transport" class="play"></div>
</div>

<hr>
