<div class="span9">
  <div id="show-song">
  </div>
  <div id="sof-composer">
  </div>
  

  <!--Body content-->
</div>
<div class="span3">
  <div id="beat-palette" class="well">
    <h3 style="text-align:center;">Beat Palette</h3>
    <h4 style="text-align:center;">Fraction Representation</h4>
    <div id="fraction-representation"></div>
    <h4 style="text-align:center;">Measure Representation</h4>
    <div id="measure-representation"></div>
    <div id="tempo-slider"></div>
    <div id="slider"></div>
    <div id="visual-beats"></div>
  </div>
  <div id="transport" class="play"></div>
</div>

<hr>