<div id="<%= measureRepID %>" class="<%= measureClasses %>" data-representation="<%= measureRepType %>">
  <svg id="<%= measureRepSVGID %>" xmlns="http://www.w3.org/2000/svg" version="1.1" class="<%= svgClasses %>">
    <g class="beatHolder" id="<%= beatHolderID %>" transform="translate(0,0)"></g>
    <g class="secondaryBeatHolder" id="secondary-<%= beatHolderID %>" transform="translate(0,0)"></g>
    <g class="tertiaryBeatHolder" id="tertiary-<%= beatHolderID %>" transform="translate(0,0)"></g>
    <g class="beatFactory" id="<%= beatFactoryHolderID %>"></g>
  </svg> 
  <% if ( measureRep == 'audio') { %>
    <div class="record-div"><i id="<%= measureRepRecordID %>" class="fa fa-microphone fa-2x record-button"></i></div>
  <% } else { %>

  <% } %>
</div>