  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav" role="navigation">
          <li>  <%= link_to "Sound of Fractions", root_path, :class => 'brand' %></li>
          <% if user_signed_in? %>
            <%= render 'layouts/shared/loadsavesong' %>
          <% else %>
          <% end %>
        </ul>
        <ul class="nav pull-right login" role="navigation">
          <%= render 'layouts/shared/login' %>
        </ul>
      </div> <!-- End Container-fluid -->

    </div> <!-- End Navbar-inner -->
  </div> <!-- End Navbar -->

<div class="row-fluid">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => "row-fluid", :id => "flash_#{name}" %>
  <% end %>
</div>
